body {
	padding: 0px;
	margin: 0px;
}

#header {
	height: 50px;
	width: 100%;
	text-align: center;
	font-size: 2em;
}

#navigation {
	width: 100%;
	overflow: hidden;
	text-align: center;
}

#navigation ul {
	margin: 0px;
	padding: 0px;
}

#navigation ul li {
	display: inline;
	padding-left: 10px;
	padding-right: 10px;
}

#navigation ul li.selected {
	background: #333333;
}

#content {
	overflow-x: hidden;
	overflow-y: auto;
}